# Application Configuration
APP_ENV=dev
APP_DEBUG=true
APP_BEARER_TOKEN=westech-secret-token

# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=products_db
DB_USER=app_user
DB_PASSWORD=app_password
